.auth {
  display: flex;
  justify-content: center;
  align-items: center;

  .auth_content {
    padding: 3rem;
    box-shadow: 2px 2px 22px #c0c0c0;
    .form {
      .reg {
        width: 22rem;
      }
    }
  }
}